.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}



/*** updated css ***/

.columns.block>div{
  padding: 15px;
}

.columns.block>div:nth-child(even) {
  background-color: #e6e6e6;
  /* Add any styles for even rows */
}

.columns.block>div:nth-child(odd) {
  background-color: #d3d3d3;
  /* Add any styles for odd rows */
}